<div class="dropdown">
  <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="dropdown">
    <span *ngIf="entry?.project?.name" [ngClass]="'color-' + entry?.project?.color">
      • {{ entry?.project?.name }}
    </span>
    <span *ngIf="!entry?.project"><i class="bi-folder me-1"></i>Project</span>
  </button>
  <div class="dropdown-menu" style="width: 270px;">
    <input #projectInput class="form-control m-2" style="width: 90%" placeholder="Filter or create a project">
    <ul class="list-unstyled">
      <li *ngFor="let project of filteredProjects(projectInput.value, projects)" class="m-1 d-flex">
        <button type="button" class="btn btn-link text-decoration-none" (click)="projectSelected.next(project.id)">
          <span [ngClass]="'color-' + project.color">
            • {{ project.name }}
          </span>
        </button>
        <button
          class="btn btn-outline-secondary btn-sm border border-0 ms-auto me-3"
          type="button"
          (click)="projectDeleted.next(project.id)">
          <i class="bi-trash"></i>
        </button>
      </li>
    </ul>
    <button
      *ngIf="projectInput.value"
      type="button"
      class="btn btn-link text-start text-decoration-none"
      (click)="projectCreated.next(projectInput.value); projectInput.value = ''">
      <i class="bi-folder-plus fs-5 me-2"></i>Create "{{ projectInput.value }}" project
    </button>
  </div>
</div>
