<div class="d-flex" style="background-color: #F7F7F7;">

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 230px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [routerLink]="'tracker'" class="nav-link" routerLinkActive="active">
          <i class="bi-speedometer fs-5 me-2"></i>
          Time tracker
        </a>
      </li>
      <li>
        <a [routerLink]="'projects'" class="nav-link" routerLinkActive="active">
          <i class="bi-folder fs-5 me-2"></i>
          Projects
        </a>
      </li>
      <li>
        <a [routerLink]="'reports'" class="nav-link" routerLinkActive="active">
          <i class="bi-bar-chart fs-5 me-2"></i>
          Reports
        </a>
      </li>
    </ul>
  </div>

  <div class="container py-5">
    <router-outlet></router-outlet>
  </div>

</div>
