@import "node_modules/bootstrap/scss/bootstrap.scss";

.text-blue {
  color: $blue-400;
}
.text-red {
  color: $red-400;
}
.text-purple {
  color: $purple-400;
}
.text-orange {
  color: $orange-400;
}
.text-green {
  color: $green-400;
}

.bg-blue {
  background-color: $blue-400;
}
.bg-red {
  background-color: $red-400;
}
.bg-purple {
  background-color: $purple-400;
}
.bg-orange {
  background-color: $orange-400;
}
.bg-green {
  background-color: $green-400;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
