@import "node_modules/bootstrap/scss/bootstrap.scss";

.color-blue {
  color: $blue-400;
}
.color-red {
  color: $red-400;
}
.color-purple {
  color: $purple-400;
}
.color-orange {
  color: $orange-400;
}
.color-green {
  color: $green-400;
}
